/seInterface.dll
/SimEngine.dll
/Soulstorm.exe
/spDx9.dll
/Steam.dll
/steam_api.dll
/STLPort.dll
/symsrv.dll
/unins000.dat
/unins000.exe
/UserInterface.dll
/Util.dll
/W40k.ini
/W40k.module
/warnings.log
/WXPMod.dll
/BsSndRpt.exe
/BugSplat.dll
/BugSplatRc.dll
/dbghelp.dll
/Debug.dll
/divxdecoder.dll
/divxmedialib.dll
/dlltie.dll
/dlltie.log
/dowonlineSettings.json
/DXP2.module
/dxtc.dll
/fileparser.dll
/Filesystem.dll
/gp.info
/GraphicsConfig.exe
/GraphicsConfig.log
/GSLobby.dll
/ijl15.dll
/installscript.vdf
/installscript.vdf.bak
/Local.ini
/Localizer.dll
/luabind.dll
/LuaConfig.dll
/MathBox.dll
/Memory.dll
/mfc80.dll
/msvcp80.dll
/msvcr80.dll
/NetConfig.dll
/Patch.dll
/Platform.dll
/PlatHook.dll
/Profiler.dll
/readme.html
/regions.ini
/ScreenShots/
/Stats/
/VCRedist/
/W40k/
/xfire/
/Badges/
/Banners/
/BugReport/
/directx9c/
/dowonlineraceunlocker/
/Drivers/
/DXP2/
/Engine/
/GraphicsOptions/
/Logfiles/
/Patch/
/Playback/
/Profiles/
/readme_files/
/.idea/Dawn of War Soulstorm.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/Release_Notes.txt
/Readme.txt
/unins001.dat
/rsss.dll
/unins001.exe
